* {
    /* Browser automatically gives all block elements margin and padding.
    This resets margin and padding to 0.  */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color:white;
    font-weight: 300;
}


.navbar {
    display:flex;
    flex-direction:column;
    background-color: rgb(52, 109, 216);
    padding: 1.5em;
}
#upper-half {
    margin-bottom:1.5em;
}

#logo{
    display:flex;
    flex-direction: row;
    align-items: center;
    float:left;
}

#account-avatar {
    float: right;
    display:flex;
    flex-direction: row;
    align-items: center;
   
   
}

#avatar {
    width: 70px;
    height: auto;
    margin-right:1em;
}

#account {
    font-weight:400;
    font-size: larger;
}



#app-title {
    color:black;
    font-weight:500;
}

.content-area { 
    display: flex;
    flex-direction: row;
    flex: 1 1 0px;
    justify-content: center;
}

.pic {
    
    object-fit:cover;
    height: auto;
    width: min(100%,400px);
    
}
.details {
    width:50%;
    margin: 1em;
}
.details > * {
    margin-bottom: 1em;
}
.socials {
    width: 50%;
    margin:1em;
}
.comments-section {
    border: 1px solid black;
}


