<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Blog</title>
    <link rel="stylesheet" href="/blog/styles/food_blog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    

    <div class = "navbar">

        <div id = "upper-half">
            <div id = "logo">
                <img src="/blog/images/app_logo.svg" alt="Salad">
                <h1 id = "app-title">Food Diary</h1>
            </div>

            <div id = "account-avatar">
                <img id = "avatar" src="/blog/images/avatar.png" alt="User avatar">
                <span id = "account">Account</span>
            </div>
        </div>

        <div>
            <h1 class = "page-title" th:text = "${#strings.capitalize(user.username)} + '\'s Blog'"></h1>
            <a th:href="@{'/friends'}">back</a>
        </div>
    </div>



    <div class="list-view"  >

        <div class = "list-item" th:each = "entry:${entries}">
            <a class= "pic-anchor" th:href="@{'/blog/view/entry/' + ${entry.id}}">
                <img class = "pic" th:src="@{${entry.imageURL}}" alt="">
            </a>
            <h2 class = "title" th:text = "${entry.title}" ></h2>
            <p class = "date" th:text = "${#temporals.format(entry.timeStamp,'h:mm a, d MMM yyyy')}"></p>
            <p class = "inappropriate-text" th:if = "${mService.hasUserFlaggedThis(activeUser.id,entry.id)}">
                You have flagged this post as inappropriate
            </p>
            <p class = "description" th:text = "${entry.description}"></p>
            <p class = "likes">Liked by <span class ="total-likes" th:text = "${mService.getTotalNumberOfLikesById(entry.id)}" th:attr="id = 'total-likes-mealentry-' + ${entry.id}, data-userId = ${activeUser.id}, data-mealEntryId = ${entry.id}"></span> users</p>
            <div class = "like-flag">
                
                <img th:if = "${mService.hasUserLikedThis(activeUser.id,entry.id)}" th:attr="data-userId = ${activeUser.id}, data-mealEntryId = ${entry.id}"  src="/blog/images/thumb-logo-blue-fill.svg" class = "thumb-logo" alt=""> 
                
                <img th:unless = "${mService.hasUserLikedThis(activeUser.id,entry.id)}" th:attr="data-userId = ${activeUser.id}, data-mealEntryId = ${entry.id}" src="/blog/images/thumb-logo-no-fill.svg" class = "thumb-logo" alt=""> 
                
                <span title = "You have flagged this entry as inappropriate" th:if = "${mService.hasUserFlaggedThis(activeUser.id,entry.id)}">
                    <img  src="/blog/images/flag-logo-red-fill.svg" alt="">
                </span>

                <a th:unless = "${mService.hasUserFlaggedThis(activeUser.id,entry.id)}" th:href="@{'/blog/report/entry/' + ${entry.id}}">
                    <img src="/blog/images/flag-logo-no-fill.svg" alt="">
                </a>

            </div>


        </div>



    </div>
    <script src = "/blog/javascript/toggle_like.js"></script>
</body>
</html>