<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Entry</title>
    <link rel="stylesheet" href="/blog/styles/meal_entry.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class = "navbar">

        <div id = "upper-half">
            <div id = "logo">
                <img src="/blog/images/app_logo.svg" alt="Salad">
                <h1 id = "app-title">Food Diary</h1>
            </div>

            <div id = "account-avatar">
                <img id = "avatar" src="/blog/images/avatar.png" alt="User avatar">
                <span id = "account">Account</span>
            </div>
        </div>

        <div>
            <h1 th:text = "${#strings.capitalize(user.username)} + '\'s Entry'"></h1>
        </div>
    </div>

    <div class = "content-area">
        <div class = "details">
            <img class = "pic" th:src="@{${entry.imageURL}}" alt="">
            <h2 class = "title" th:text = "${entry.title}" ></h2>
            <p class = "date" th:text = ${{entry.timeStamp}}></p>
            <p class = "description" th:text = "${entry.description}"></p>
        </div>
        <div class = "socials">
            <p class = "likes">Liked by Gunther and 32 others</p>
            <div class = "like-flag">
                <img src="/blog/images/thumb_logo.svg" alt="">
                <img src="/blog/images/flag_logo.svg" alt="">
            </div>
            <div class = "comments-section">

                
                <p class = "comment-div" th:each = "comment:${comments}">
                    <span class = "comment-author" th:text = "${#strings.capitalize(comment.author.username)} + ':    '"></span>
                    <span class = "comment" th:text = "${comment.caption}"></span>
                </p>

                    
                <form class = "comment-div" th:action="@{'/blog/comment/' + ${entry.id}}" method="POST">
                    <span class = "comment-author" th:text = "${#strings.capitalize(activeUser.username)} + ':'"></span>
                    <input class = "new-comment" type="text" name="caption" id="">
                    <input type="submit" style = "display: none;" name="" id="">
                </form>

             
                
            </div>
        </div>

    </div>
    
</body>
</html>