<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- use fragment in separate div to prevent it from deleting other stuff -->
    <div  th:replace="fragments/layout.html :: html_head"></div>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Entry</title>
    <link rel="stylesheet" href="/blog/styles/meal_entry.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/layout.html::menu" />

<div>
    <h1 class = "page-title" th:text = "${user.username} + '\'s entry'"></h1>
</div>

<div class = "content-area">
    <div class = "mealdetails">
        <img class = "pic" th:src="@{'/blog/images/' + ${entry.imageURL}}" alt="">
        <h2 class = "title" th:text = "${entry.title}" ></h2>

        <p contenteditable="false" class = "date" th:text = "${#temporals.format(entry.timeStamp,'d MMM yyyy, h:mm a')}"></p>

        <p contenteditable="false" class = "description" th:text = "${entry.description}"></p>

<!--        <div class="switch">-->
<!--            Public:-->
<!--            <input calss="input" type="checkbox" />-->
<!--            <div class="circle"></div>-->
<!--        </div>-->

<!--        <div class="form-box">-->
<!--            Public:-->
<!--            <div class="button-box">-->
<!--                <div id="btn"></div>-->
<!--                <button type="button" class="toggle-btn" onclick="leftClick()">On</button>-->
<!--                <button type="button" class="toggle-btn" onclick="rightClick()">Off</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <script src="/js/setPublic.js"></script>-->

        <div>
            <a th:href="@{'/meals/editmeal/' + ${entry.id}}">Edit Entry</a>

            <a th:href="@{'/meals/deleteMeal/' + ${entry.id}}">delete Entry</a>
        </div>


<!--        <tr>-->
<!--            <td><label>user_type</label></td>-->
<!--        <td><select th:field="*{entry.visibility}">-->
<!--            <option th:each="selectOption : ${privateState}" th:value="${selectOption}"-->
<!--                    th:text="${selectOption}">-->
<!--                selectOption</option>-->
<!--        </select></td>-->

<!--        </tr>-->


        </div>


    </div>

</div>
<script src = "/blog/javascript/toggle_like.js"></script>
</body>
</html>