<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="html_head" id="html_head">
	<meta charset="ISO-8859-1">
	<title>Food Diary</title>
	<script src="js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
		integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
		crossorigin="anonymous"></script>
	<link th:rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>

<body>
	<div th:fragment="menu" id="menu">
		<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Food Diary</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="main_nav" sec:authorize="hasAnyAuthority('USER')">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" th:href="@{/}"> Home </a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown" type="button"> Data </a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" th:href="@{/leave/add}"> View Past Meals</a></li>
								<li><a class="dropdown-item" th:href="@{/staff/history/}"> View Analytics</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown" type="button">
								Goals </a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" th:href="@{/staff/addot}"> View Current Goal</a></li>
								<li><a class="dropdown-item" th:href="@{/staff/listot}"> View Past Goals</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown" type="button">
								Social </a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" th:href="@{/staff/addot}"> Feed </a></li>
								<li><a class="dropdown-item" th:href="@{/socials/manage}"> Manage Socials</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown" type="button">
								Account </a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" th:href="@{/staff/addot}"> Edit Profile </a></li>
								<li><a class="dropdown-item" th:href="@{/logout}"> Logout </a></li>								
							</ul>
						</li>
					</ul>
				</div>
				<div class="collapse navbar-collapse" id="main_nav" sec:authorize="hasAnyAuthority('ADMIN')">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" th:href="@{/admin/user/list}"> Manage Staff </a>
						</li>
						<li class="nav-item">
						<!--<a class="nav-link" th:href="@{/logout}"> Logout </a>-->
						<form th:action="@{/logout}" method="POST"><input type="submit" value="Logout"/></form>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>

</html>