<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: html_head" >
<meta charset="ISO-8859-1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
<link th:rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/css/simple.css}" />
	<link rel="stylesheet" th:href="@{/css/table.css}" />
</head>
<body>
	<div th:replace="fragments/layout.html::menu" />

	<div class = "container">
	
	<h3 style = "margin-top: 35px;" align="center">Current Goal OverView</h3>
	<div class = "row" th:object="${goal}" method="get">
	<div class="col-6">
	

		<div style="position:absolute; width: 600px; height: 400px; top:40%;
    				left:40%;
    				margin:-200px 0 0 -300px;">
		<img class="img2" th:src="@{/images/cutweight.jpg}" width="300px" height= "200px" alt=""/>
		<span style="position: absolute; top: 80px; left: 70px;font-size:32px;font-weight:bold;" th:text="${goal.goalDescription}">Current Goal</span>
		
		</div>

		
	</div>
	
	<div class="col-6">
	<h3 style = "text-align: center;font-weight:bold;font-size:40px;margin-left:15px;color: #355681; font-style:italic;" th:text="'Status: ' + ${goal.status}">Status</h3>
	
	<h4 style="text-align: center;" th:text="'You are ' + ${percentCount} + '% on path!'"></h4>

	<progress style="text-align: center; font-size:50px;" th:value="${percentCount}" max="100"></progress> 
	<div>
	 <div style="float:left; margin-left:110px;" >
		<table class="currentGtable">
			<thead>
				<tr>
					<th><span th:text="#{fieldLabel.NumMealsOnpath}"></span></th>
					<th><span th:text="#{fieldLabel.NumMealsOffpath}"></span></th>
					<th><span th:text="#{fieldLabel.TotalNumMeals}"></span></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${onTrack}">NumMealsOnpath</td>
					<td th:text="${offTrack}">NumMealsOffpath</td>
					<td th:text="${totalMeals}">TotalNumMeals</td>
					
				</tr>
			</tbody>
		</table>
		
		<div class = "button6">
					<input type="submit" value="End this goal" />
				</div>
	 </div>
		
	</div>
	

		
</div>
</div>
<div>
<h3>Recent Meals</h3>

<div>
<div style="float:left;width:80px; margin-right:15px;"><img th:src="@{/images/chicken-rice.jpg}" width="200px" height= "150px"/><p align="center">25/01/2022</p></div>
<div style="float:left;width:80px; margin-left:230px;"><img th:src="@{/images/chicken-rice.jpg}" width="200px" height= "150px"/><p align="center">25/01/2022</p></div>
<div style="float:left;width:80px; margin-left:230px;"><img th:src="@{/images/chicken-rice.jpg}" width="200px" height= "150px"/><p align="center">24/01/2022</p></div>
<div style="float:left;width:80px; margin-left:230px;"><img th:src="@{/images/chicken-rice.jpg}" width="200px" height= "150px"/><p style="text-align: center;">24/01/2022</p></div>
</div>
</div>
	</div>

</body>
</html>