<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
   <head th:replace="fragments/layout.html :: html_head" >
      
      <link rel="stylesheet"
         href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
      <!-- Optional theme -->
      <link rel="stylesheet"
         href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
      <link th:rel="stylesheet" th:href="@{/css/bootstrap.css}">
      <link rel="stylesheet" th:href="@{/css/simple.css}" />
      <link rel="stylesheet" th:href="@{/css/table.css}" />
   </head>
   <body>
      <div th:replace="fragments/layout.html::menu" />
      <div th:if= "${#lists.isEmpty(goal)}">
         <tr class="goal">
            <th><span><b>Current goal:</b></span></th>
            <th th:text="${currentGoal?.goalDescription}?: 'no goal set yet'">Description</th >
         </tr>
      </div>
      <div class = "container" th:unless="${#lists.isEmpty(goal)}">
         <h3 style = "margin-top: 35px;" align="center">Current Goal OverView</h3>
         <div class = "row" th:object="${goal}" method="get">
            <div class="col-6">
               <div style="position:absolute; width: 600px; height: 400px; top:40%;
                  left:40%;
                  margin:-200px 0 0 -300px;">
                  <img class="img2" th:src="@{/images/cutweight.jpg}" width="450px" height= "250px" alt=""/>
                  <span style="position: absolute; top: 80px; left: 50px;font-size:32px;font-weight:bold;" th:text="${goal.goalDescription}">Current Goal</span>
               	  <div class="goalDetail">
               	  <p>
					<span th:text="#{fieldLabel.TargetCountAndTotalCount}"></span>
					<span th:text="${goal.targetCount} +'/' + ${goal.totalMealCount} "></span>
				  </p>
				  <p>
					<span th:text="#{fieldLabel.GoalDate}"></span>
					<span th:text="${goal.startDate}"></span>
				  </p>
               	  </div>
               </div>
            </div>
            <div class="col-6">
               <h4 style = "text-align: center;" th:text="'Status: ' + ${goal.status}">Status</h4>
               <h4 style="text-align: center;" th:text="'You are ' + ${percentCount} + '% on path!'"></h4>
               <progress style="text-align: center; font-size:50px;" th:value="${percentCount}" max="100"></progress> 
               <div>
                  <div style="float:left; margin-left:110px;" >
                     <table class="currentGtable">
                        <thead>
                           <tr>
                              <th><span th:text="#{fieldLabel.NumMealsOnpath}"></span></th>
                              <th><span th:text="#{fieldLabel.NumMealsOffpath}"></span></th>
                              <th><span th:text="#{fieldLabel.TotalNumMeals}"></span></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td th:text="${onTrack}">NumMealsOnpath</td>
                              <td th:text="${offTrack}">NumMealsOffpath</td>
                              <td th:text="${totalMeals}">TotalNumMeals</td>
                           </tr>
                        </tbody>
                     </table>
                     <div class = "button6">
                        <button id="myBtn">End This Goal</button>
                        <!-- popup -->
                        <div id="myModal" class="modal">
                           <!-- popup content -->
                           <div class="modal-content">
                              <div class="modal-header">
                                 <span class="close">&times;</span>
                              </div>
                              <div class="modal-body">
                                 <p align="center" style="font-size: 28px;">Confirm to end this goal?</p>
                              </div>
                              <div class="modal-footer">
                                 <a th:href = "@{/user/goals/continue}"><button type="button">Save & Continue</button></a>
                                 <a style = "font-size: 20px; "><button class = "return" id = "return" type="button">Cancel</button></a >
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div>
            <h3>Recent Meals</h3>
            <div >
               <div style="float:left;width:80px; margin-left:180px;" th:each = "entry:${entries}">
                  <a class= "pic-anchor">
            <img class = "pic" th:src="@{'/images/' + ${entry.imageURL}}" alt="" width="200px" height= "150px"></a>
                  <p th:text = "${entry.timeStamp}"></p>
               </div>
            </div>
         </div>
      </div>
   </body>
   <script type = "text/javascript">
      // get popup
      var modal = document.getElementById('myModal');
      
      // popup open
      var btn = document.getElementById("myBtn");
      
      //  that closes the modal
      var span = document.getElementsByClassName("close")[0];
      
      var cancel = document.getElementById("return");
      
      // 
      btn.onclick = function() {
          modal.style.display = "block";
      }
      
      // close  <span> (x)
      span.onclick = function() {
          modal.style.display = "none";
      }
      
      cancel.onclick = function() {
      	modal.style.display = "none";
      }
      // close
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }
   </script>
</html>