<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
   <head th:replace="fragments/layout.html :: html_head" >
      <meta charset="ISO-8859-1" />
      <link rel="stylesheet"
         href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
      <!-- Optional theme -->
      <link rel="stylesheet"
         href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
      <link th:rel="stylesheet" th:href="@{/css/bootstrap.css}">
      <link rel="stylesheet" th:href="@{/css/simple.css}" />
      <link rel="stylesheet" th:href="@{/css/table.css}" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
         integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/photo.js"></script>
   </head>
<body>
<div th:replace="fragments/layout.html::menu" />
<div class="container-fluid text-center">
		
	<div class="container-fluid text-left">
	<h3 align="center" style = "font-weight:bold;font-size:40px;color: rgb(0, 0, 0);">Edit Profile photo</h3>
		<form th:action="@{/user/myProfile/photo/}+${user.id}" th:object="${user}" method="post" style="max-width: 500px; margin: 0 auto;"
			enctype="multipart/form-data">
			<div class="border border-secondary p-3 rounded">
			
				<div>
					<label style="font-size: 32px;" for="fileImage">Profile Picture:</label>
					<img id="thumbnail" class="img-fluid rounded mx-auto d-block w-25"
						th:src="@{'/images/' + ${user.getId()} + '/' + ${user.getProfilePic()}}" alt="Profile Pic Preview" width="200px" height= "200px" />
					<input type="file" id="fileImage" name="fileImage" accept="image/png, image/jpeg" />
				</div>
			<p>
					<input type="submit" value="Submit" class="btn btn-primary btn-block" />
				</p>

</body>
<script> type = "text/javascript" >
		$(document).ready(function () {
			$('#fileImage').change(function () {
				showImageThumbnail(this);
			});
		});

	function showImageThumbnail(fileInput) {
		file = fileInput.files[0];
		reader = new FileReader();

		reader.onload = function (e) {
			$('#thumbnail').attr('src', e.target.result);
		};

		reader.readAsDataURL(file);
	}

</script>
</html>
