<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: html_head" >
<meta charset="ISO-8859-1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
<link th:rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/css/simple.css}" />
	<link rel="stylesheet" th:href="@{/css/table.css}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/photo.js"></script>
</head>
<body>
	<div th:replace="fragments/layout.html::menu" />

	<div class = "container">
	<h3 align="center" style = "font-weight:bold;font-size:40px;color: #355681;">Edit Profile</h3>
	<div class = "row">
	<div class="col-3">
	
		<div class ="editPhoto">
	<img 
			th:src="@{/images/R.png}" width="20px" height= "20px" onclick='window.open("http://www.google.com")' />
			
	</div>
	</div>
	
	
	<div class="col-9">
	
	<div>
	 <div style="float:left; margin-right:20px;" >
		<form action="#" th:action="@{/user/myProfile/}+${user.id}"
			th:object="${user}" method="POST" enctype="multipart/form-data">

		<label for="fileImage">Profile Picture:</label>
		<div class = "avatar">
	<img
			th:src="@{'/images/' + ${user.profilePic}}" width="150px" height= "150px" />
	</div>
			<p></p>
			<input type="file" id="fileImage" name="fileImage" accept="image/png, image/jpeg" />
			<label for="fileImage">Uploaded picture:</label>
			<img id="thumbnail" class="img-fluid rounded mx-auto d-block w-25" alt="Profile Pic Preview" />
		<table>
			<tbody>
				<tr>
					<td> <span th:text="#{fieldLabel.name}"></span></td>
					<td><input type="text" th:field="${user.name}" size="40" /></td>
					
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.DateOfBirth}"></span></td>
					<td><input type="text" th:field="${user.dateOfBirth}" size="40" /></td>
					
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.Height}"></span></td>
					<td><input type="text" th:field="${user.height}" size="40" /></td>
					
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.Weight}"></span></td>
					<td><input type="text" th:field="${user.weight}" size="40" /></td>
				
				</tr>
				
			</tbody>
		</table>
		<div id ="container2">
			<div class = "button4">
					<input type="submit" value="Save" />
				</div>
					
					<div class = "button5">
					<input type="reset" value="Reset" />
					</div>
		</div>
	</form>
		
	 </div>
		
	</div>
	

		
</div>
</div>
</div>
	
</body>
<script> type = "text/javascript" >
		$(document).ready(function () {
			$('#fileImage').change(function () {
				showImageThumbnail(this);
			});
		});

	function showImageThumbnail(fileInput) {
		file = fileInput.files[0];
		reader = new FileReader();

		reader.onload = function (e) {
			$('#thumbnail').attr('src', e.target.result);
		};

		reader.readAsDataURL(file);
	}

</script>
</html>